.image-input {
  flex-shrink: 0;
  width: 190px;
  height: 190px;
  background-color: var(--four);
  position: relative;
  margin: 5px;
}
.image-input > input,
.image-input > label {
  position: absolute;
  top: 0;
  left: 0;
}
.image-input > label {
  position: relative;
}
.image-input > input:checked ~ label > img {
  border-radius: 50px;
  z-index: 1;
}

.image-form {
  position: relative;
  width: 350px;
  height: 230px;
  display: flex;
  align-items: center;
  overflow-x: auto;
  margin: auto;
  background-color: var(--primary);
  border-radius: 12px;
}
.image-form::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
.notes-list::-webkit-scrollbar-thumb {
  background: var(--four); 
  border-radius: 10px;
}
#image {
  background-color: var(--three);
  position: relative;
  width: 400px;
  padding: 1rem 0;
  height: 300px;
  border-radius: 12px;
  margin: auto;
}
#image::backdrop{
  background-image: linear-gradient(45deg, black, transparent);
}
#image > button {
  position: absolute;
  bottom: 0.5rem;
  right: 0.5rem;
  font-size: 1.2rem;
  background-color: var(--four);
  border: none;
  padding: 0.2rem 1rem;
  border-radius: 12px;
  color: var(--five);
}