.notes-cards {
  flex-shrink: 0;
    width: 200px;
    height: 140px;
    padding: 0.5rem ;
    position: relative;
    font-size: 0.8rem;
    border-radius: 30px;
    margin-right: 0.5rem;
    background-color: var(--four);
    color: var(--five);
  }
  .notes-cards >h2{
    margin-top: 1.5rem;
  }
  .notes-cards > p {
    margin:  auto 0;
    font-size: 0.8rem;
  }

  .notes-cards > h3 {
    position: absolute;
    bottom: 0.5rem;
    left: 0.7rem;
    font-size: 0.6rem;
    border-top: solid 2px var(--five);
    padding-top: 2px;
  }
  .notes-cards > input,
  .notes-cards > label {
    position: absolute;
    right: 1rem;
    bottom: 0.2rem;
    font-size: 2rem;
  }
  .notes-cards > input {
    opacity: 0;
    width: 10.5rem;
    height: 5.5rem;
  }
  .notes-cards > .settings {
    position: absolute;
    background-color: var(--primary);
    right: 0.5rem;
    bottom: 1.5rem;
    display: flex;
    flex-direction: column;
    width: 10.5rem;
    height: 6.5rem;
    padding: 0.5rem 0;
    border-radius: 12px;
    transform: scaleY(0);
    transition: all 0.5s  ease-in;
    transform-origin: bottom;
  }
  .notes-cards > input:checked ~ .settings {
    transform: scaleY(1);
    transform-origin: top;

  }
  .notes-cards > .settings > button {
    border: none;
    background-color: var(--second);
    color: white;
    text-align: left;
  }