

.dashboard{
    max-width: 1200px;
    margin: auto;
    

    display: grid;

    /* grid-template-columns: repeat(auto-fit,minmax(350px, 1fr)); */
    grid-template-columns: repeat(12,minmax(0, 1fr));
    row-gap: 1.5rem;
}


.card,
.pomodoro{
    grid-column: 1/13;
}

.card{
    width:  350px;
    height: 250px;
    position: relative;
    border-radius: 30px;
    background-color: var(--second);
    border-bottom: solid 8px var(--primary);
    position: relative;
    color: var(--five);
    margin: auto;
    padding: 0.5rem;

}
.card> span,
.card> h2{
    position: absolute;
 

}
.card> h2{
    font-size: 1.5rem;
    top: 0.5rem ;
    right: 0.5rem;
}
.card> span{
    display: inline-block;
    top: 40% ;
    right: 20%;
    font-size: 2rem;
}

/* pomodoro */

.pomodoro{
    background-color: var(--primary);
    width: 340px;
    height: 600px;
    position: relative;
    border-radius: 20px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, minmax(0,1fr));
    grid-template-rows: repeat(2, minmax(0,1fr));
    color:  var(--five);
}


.pomodoro-time,
.pomodoro-control{
    grid-column: 1/3;
}
.pomodoro-time{
    grid-row: 1/2;
    margin: auto;
}
.pomodoro-control{
    grid-row: 2/3;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
}
.pomodoro-control i{
    font-size: 3rem;
    color: var(--five);

}
.pomodoro-control button{
    background-color: transparent;
    border: none;
}
.pomodoro-time{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.pomodoro-time> svg{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.pomodoro-time> input{
    background-color: transparent;
    color: var(--five);
    width: 6rem;
    font-size: 3rem;
    text-align: center;
    border: none;
}
.pomodoro-time> h2{
    font-size: 3rem;

}

@media screen and (min-width: 700px) {
    .card:nth-of-type(odd) {
    grid-column: 1/7;
    }
    .card:nth-of-type(even) {
    grid-column: 7/13;
    }
    .pomodoro{
        grid-column: 1/13;
        width: 700px;
        height: 340px;
        place-self: center;
    }
        
    .pomodoro-time,
    .pomodoro-control{
        grid-row: 1/3;
    }
    .pomodoro-time{
        grid-column: 1/2;
    }
    .pomodoro-control{
        grid-column: 2/3;
    }
}
@media screen and (min-width: 1055px){
    .card:nth-of-type(odd) {
        grid-column: 1/5;
        }
        .card:nth-of-type(even) {
        grid-column: 5/9;
        }
        .pomodoro{
            grid-row: 1/3;
            grid-column: 9/13;
            height: 600px;
            width: 340px;
            place-self: center;
        }
            
        .pomodoro-time,
        .pomodoro-control{
            grid-column:1/3;
        }
        .pomodoro-time{
            grid-row: 1/2;
        }
        .pomodoro-control{
            grid-row: 2/3;
        }
}
@media screen and (min-width: 1200px) {
    .card:nth-of-type(odd) {
    grid-column: 1/7;
    }
    .card:nth-of-type(even) {
    grid-column: 7/13;
    }
    .pomodoro{
        grid-row: 3/4;
        grid-column: 1/13;
        width: 700px;
        height: 340px;
        place-self: center;
    }
        
    .pomodoro-time,
    .pomodoro-control{
        grid-row: 1/3;
    }
    .pomodoro-time{
        grid-column: 1/2;
    }
    .pomodoro-control{
        grid-column: 2/3;
    }
}
@media screen and (min-width: 1400px){
    .card:nth-of-type(odd) {
        grid-column: 1/5;
        }
        .card:nth-of-type(even) {
        grid-column: 5/9;
        }
        .pomodoro{
            grid-column: 9/13;
            grid-row: 1/3;
            height: 600px;
            width: 340px;
        
            place-self: center;
        }
            
        .pomodoro-time,
        .pomodoro-control{
            grid-column:1/3;
        }
        .pomodoro-time{
            grid-row: 1/2;
        }
        .pomodoro-control{
            grid-row: 2/3;
        }

}