

header.navigation{
    width: 100vw;
    position: fixed;
    z-index: 10;


}

.navigation>input,
.navigation>label
{
    position: absolute;
    top: 0.2rem;
    left: 0.25rem;

}
.navigation-table{
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(100%);
    transition: all 0.8s ease-in;

}


/* ********************************Style ******************888*/
.navigation-table{
    background-color: var(--three);
    width:  345px;
    height: 100vh;
    display: grid;
    grid-template-rows: 5rem 1fr 5rem;
    row-gap: 1rem;
    border-radius: 20px;
    border: solid 2px var(--four);
}
.navigation-table>div.navigation-logo{
    grid-row: 1/2;
}
.navigation-table>div.navigation-list{
    grid-row: 2/3;
}
.navigation-table>div.switch-mode{
    grid-row: 3/4 ;
}

.navigation-list> a{
    display: flex;
    width: 90%;
    margin: auto;
    height: 2rem;
    margin-top: 0.5rem;
    font-size: 0.7rem;
    line-height: 1.5rem;
    justify-content: space-between;
    align-items: center;
    color: var(--five);
    text-decoration: none;
    position: relative;
    z-index: 2;
    transition: all 0.5s ease-in-out;

}
.navigation-list> a:hover{
  color: var(--second);
}
.navigation-list> a::after{
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-image: linear-gradient(
        60deg,
        transparent,
        var(--four)
      );
      z-index: -1;

}

.active::before{
  position: absolute;
  content: "";
  top: 0;
  left: -1.1rem;

  border-width: 1rem;
  border-style: solid;
  border-color: transparent transparent transparent var(--four) ;
  
}


.navigation-logo{
    width: 70%;
    height: 4rem;
    place-self: center;
    border-radius: 30px;
    border: solid 2px var(--four);
    box-shadow: 3px 3px 5px rgba(0, 0, 0,0.7);
}
.navigation-logo> h2{
    margin: 1rem 4rem ;
    color: var(--four);
}

.dot-rotation{
    position: relative;
    overflow: hidden;
    transition: all 0.5s ease-in-out;

}

.dot-rotation>span{
    position: absolute;
    display: block;  
    border-radius: 30px;
  }
.dot-rotation>span:nth-of-type(odd){
    width: 100%;
    height: 0.8rem;
}
.dot-rotation>span:nth-of-type(even){
     height: 100%;
    width: 0.8rem;
}
.dot-rotation>span:nth-of-type(1) {
    top: 0;
    left: 0;
 
    background-image: linear-gradient(
      90deg,
      transparent,
      var(--primary)
    );
    animation: border1 1s linear infinite;
    animation-delay: 0s;
  }

.dot-rotation>span:nth-of-type(3) {
    bottom: 0;
    left: 0;
    background-image: linear-gradient(
      270deg,
      transparent,
      var(--primary)
    );
    animation: border3 1s linear infinite;
    animation-delay: 0.5s;
  }

.dot-rotation>span:nth-of-type(2) {
    top: 0;
    right: 0;
    background-image: linear-gradient(
      180deg,
      transparent,
      var(--primary)
    );
    animation: border2 1s linear infinite;
    animation-delay: 0.25s;
  }

 .dot-rotation>span:nth-of-type(4) {
    top: 0;
    left: 0;
    background-image: linear-gradient(
      360deg,
      transparent,
      var(--primary)
    );
    animation: border4 1s linear infinite;
    animation-delay: 0.75s;
  }

@keyframes border1 {
    0% {
      left: -100%;
    }
  
    100% {
      left: 100%;
    }
  }
  
  @keyframes border3 {
    0% {
      left: 100%;
    }
  
    100% {
      left: -100%;
    }
  }
  
  @keyframes border2 {
    0% {
      top: -100%;
    }
  
    100% {
      top: 100%;
    }
  }
  
  @keyframes border4 {
    0% {
      top: 100%;
    }
  
    100% {
      top: -100%;
    }
  }

  .switch-mode{
    width: 70%;
    height: 3rem;
    margin: auto;
    border-radius: 30px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.5rem;
    background-color: var(--second);
    color: var(--five);
    border: solid 1px var(--second);

  }
  .switch-mode>input{
    opacity: 0;
  }
  .switch-mode>input,
  .switch-mode>label{
    position: absolute;
    top: 0.2rem;
    left: 0.25rem;
    width: 2.5rem;
    height: 2.5rem;
    background-image: linear-gradient(
        60deg,
        var(--five),
        var(--primary)
      );
    border-radius: 50%;
    transition: all 0.8s ease-in-out;
    cursor: pointer;

  }
  .switch-mode>input:checked,
  .switch-mode>input:checked ~ label{
    transform: translateX(470%) rotate(460deg);

  }

.navigation>input,
.navigation>label{
    width: 2.5rem;
    height: 2.5rem;
    display: inline-block;
    cursor: pointer;
}
.navigation>input{
    opacity: 0;
}

.navigation>label{
    position: relative;
    background-image: linear-gradient(
        60deg,
        var(--three),
        var(--primary)
      );

      border-radius: 50%;
      transition: all 0.8s ease-in;
}
.line{
    transition: all 0.8s ease-in;

    position: absolute;
    width: 80%;
    left: 10%;
  background-color: white;
    height: 3px;
    border-radius: 5px;
}
.line:first-of-type{
    top: 25%;
}
.line:nth-of-type(2){
    top: 45%;
}
.line:nth-of-type(3){
    top: 70%;
}

/* navigation function */

.navigation>input:checked ~ label{
    transform: rotate(760deg);
}
.navigation>input:checked ~ label>div:nth-of-type(odd){
    top: 46%;
}
.navigation>input:checked ~ label>div:nth-of-type(1){
    transform: rotate(45deg);
}
.navigation>input:checked ~ label>div:nth-of-type(3){
    transform: rotate(-45deg);
}
.navigation>input:checked ~ label>div:nth-of-type(2){
    opacity: 0;
}
.navigation>input:checked:hover ~ label{
    transform: rotate(-760deg);
}

.navigation>input:checked ~ .navigation-table{
    transform: translateX(0);
}