

/* Navigation style */
header#nav{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100vw;
    margin: 0 auto;
}
header#nav>nav#nav-menu{
        position: absolute;
        right:  0;
        top: 0;
        z-index: 3;
    }
header#nav>input#hamburger-checked,
header#nav>label#hamburgers{
        position: absolute;
        top: 0rem;
        left: 0rem;
}

nav#nav-menu{
    transform: translateX(100%);
    transition: all 0.3s ease-in-out;
    border-radius: 12px;
    background-color: var(--three);
    /* border: solid 3px var(--four); */

    /* layout */
    width: 350px;
    height: 100vh;

    display: grid;
    grid-template-rows: 7rem 1fr 5rem;


}
nav#nav-menu>.nav-logo{
    grid-row: 1/2;
}
nav#nav-menu>.nav-list{
    grid-row: 2/3;
}
nav#nav-menu>#mode-switch{
    grid-row: 3/4;
}

nav#nav-menu>.nav-logo{
    border: solid 3px var(--four);
    margin: auto;
    padding: 1rem 3rem ;
    color:  var(--four);
    box-shadow: 5px 5px 5px rgba(0, 0, 0,0.5);
    border-radius: 5px;
}

nav#nav-menu>.nav-list>a{
   width: 90%;
   color:  var(--four);
   display: flex;
   justify-content: space-between;
   font-size: 1rem;
   margin-top: 2rem;
   margin-left: 1rem;
   text-decoration: none;
   transition: all 0.5s  ease-in-out;
   position: relative;
}
.active::before{
    content: "";
    position: absolute;
    left: -1rem;
    top: -0.5rem;
    /* background-color:var(--four) ; */
    z-index: -1;
    border:  solid 1rem;
    border-color: transparent transparent transparent var(--four)   ;
}
nav#nav-menu>.nav-list>a>i{
    margin-left: 2rem;
}
nav#nav-menu>.nav-list>a:hover{
    filter: brightness(0.9);
}
nav#nav-menu>.nav-list>a::after{
    position: absolute;
    content: "";
    
    width: 100%;
    height: 2px;
    bottom: -10px;
    right: 0;
    background-color: var(--four);
}

nav#nav-menu>#mode-switch{
    width: 12rem;
    height: 3rem;

    border: solid 3px var(--four);
    color: var(--four) ;
    border-radius: 20px;
    margin: auto;
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.5rem;
}
nav#nav-menu>#mode-switch>input,
nav#nav-menu>#mode-switch>label{
    position: absolute;
    left: 2px;
    top: 0.1rem;
    width: 2.5rem;
    height: 2.5rem;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
}
nav#nav-menu>#mode-switch>input{
    opacity: 0;
}
nav#nav-menu>#mode-switch>label{
    border-radius: 50%;
    background-color: var(--four);
}
nav#nav-menu>#mode-switch>#mode-toggle:checked,
nav#nav-menu>#mode-switch>#mode-toggle:checked ~ label#mode-label{
    transform: translateX(350%);
}
/*  */

label#hamburgers,
input#hamburger-checked{
    width: 3rem;
    height: 3rem;
    cursor: pointer;
}

input#hamburger-checked{
    opacity: 0;
}
label#hamburgers{
    position: relative;

    border-radius: 12px ;
    transition: all 0.2s ease-in;
}

.hamburger-line{
    position: absolute;
    left: 10%;
    width: 80%;
    height: 3px;
    background-color: var(--four);
    transition: all 0.5s ease-in;
}

label#hamburgers>:first-child{
    top: 25%;
}
label#hamburgers>:nth-child(2){
    top: 45%;
}
label#hamburgers>:nth-child(3){
    top: 65%;
}
label#hamburgers>:nth-child(4){
   background-color: var(--five);
   width: max-content;
   width: 100vw;
   padding: 0 3.5rem;
   padding-top: 0.5rem;
   height: 3rem;
   color: var(--four);
   font-size: 2rem;
}







input#hamburger-checked:checked ~ label#hamburgers>:first-child{
    top: 50%;
    transform: rotate(45deg);
}
input#hamburger-checked:checked ~ label#hamburgers>:nth-child(2){
    opacity: 0;
}
input#hamburger-checked:checked ~ label#hamburgers>:nth-child(3){
    top: 50%;
    transform: rotate(-45deg);
}

input#hamburger-checked:checked~ nav#nav-menu{
    transform: translateX(0);
}

/* 
@media screen and (min-width: 800px){
    header#nav{
        top: 0;
        max-width: 2400px;
        left: 0;

    }
    nav#nav-menu{
        transform: translateX(0);
        height: 70px;
        width: 100%;
        margin: 0 auto;
        padding: 0;
        flex-direction: row-reverse;
        align-items: center;
    }
    nav#nav-menu>div{
        flex-grow: 2;
    }
    nav#nav-menu>a{
        max-width: 150px;
        justify-content: center;
    }



    input#hamburger-checked,
    label#hamburgers{
       display: none;
    }
    div#main-logo{
        width: 200px;
        margin-top: 0;
    }


} */

