/* #notes-app{
    display: grid;
    grid-template-rows: ;
} */

/* .notes-list {
  max-width: 1200px;
  display: flex;
  overflow-x: scroll;
} */

.notes-control::-webkit-scrollbar ,
.notes-list::-webkit-scrollbar-track {
    background: transparent;
}
/* .notes-cards{
 
  width: 180px;
  height: 180px;
  background-color: var(--four);
  margin: 0 0.5rem;
  border-radius: 12px;
  color: var(--primary);
} */

/* .notes-control>button{
    font-size: 3rem;
    background-color: var(--four);
    color: var(--primary);
    border-radius: 14px;
    border: none;
} */
/* .add-new-notes>span{
    border: dotted 3px var(--primary);
    border-radius: 50px;
    cursor: pointer;
} */










