:root {
    --primary: #55CCFF;
    --second: #8DFF84;
    --three: #6AE5FE;
    --four: #FFFFFF;
    --five: #000000;


    --background:linear-gradient(30deg, rgba(255, 255, 255,0.9),rgba(255, 255, 255,0.7));
    
  }
  
  [data-theme="dark"] {
    --primary: #0064FA;
    --second: #7795FF;
    --three: #0E8388;
    --four: #32508A;
    --five: #FFFFFF;

    --background: linear-gradient(30deg, rgba(50, 80, 138,0.8),rgba(50, 80, 138,0.5));
  }
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
  background:  var(--four);

}





@media screen and (min-width: 1200px) {
  body{
      display: grid;
      grid-template-columns: 350px 1fr;

  }
  .navigation{
    grid-column: 1/2;

  }
  .navigation > .navigation-table{
    transform: translateX(0);
    left: 0;

  }
  .footer,
  .content{
    grid-column: 2/3;
  }
  
}




