:root{
    font-size: 16px;
    width: 100vw;
    overflow-x: hidden;

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Navigation style */
header#nav{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100vw;
    margin: 0 auto;
}
header#nav>nav#nav-menu{
        position: absolute;
        right:  0;
        top: 0;
        z-index: 3;
    }
header#nav>input#hamburger-checked,
header#nav>label#hamburgers{
        position: absolute;
        top: 1rem;
        left: 1rem;
}
header#nav>input#hamburger-checked{
        z-index: 3 ;
}
nav#nav-menu{
    transform: translateX(100%);
    transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
    border-radius: 12px;
    background-color: rgba(172, 172, 172, 0.5);

    /* layout */
    width: clamp(min-content, 250px, 100vw);
    height: 100vh;

    display: flex;

    flex-direction: column;
    align-items: start;
    justify-content: space-around;

    padding: 3rem 0.5rem ;

}


nav#nav-menu>a{
    color: rgb(255, 255, 255);
    width: 200px;
    display: flex;
    position: relative;
    justify-content: flex-start;
    transition: all 0.5s cubic-bezier(0.39, 0.575, 0.565, 1);
}
nav#nav-menu>a>:first-child{
    margin-right: 1rem;
}
nav#nav-menu>a::before{
    position: absolute;
    content: "";
    background-color:rgba(212, 210, 210, 0.8);
    top:  -1rem;
    left: 0;
    width: 100%;
    height: 3rem;
    z-index: -1;
    transform: scaleX(0);
    border-radius: 10px;
    transition: all  0.5s  cubic-bezier(0.39, 0.575, 0.565, 1);
    transform-origin: left;
}
nav#nav-menu>a:hover::before{
       transform: scaleX(1);
}
nav#nav-menu>a:hover{
        color: rgb(0, 0, 0);
       transform: scaleX(1);
}
.location,
.nav-active{
    color: rgb(0, 0, 255) !important;
}
.nav-active:hover{
    color: rgb(0, 0, 0) !important;
}

/* nav -logo -todo */
div#main-logo{
    border: 1px solid black;
    padding: 0.5rem 1rem;
    border-radius: 15px;
    background-color: rgba(255, 255, 255,0.5);
    max-width: 7rem;
    /* width: 100%; */
    height: 4rem;
   position: relative; 
   transition: all 0.5s ease-in-out;

}
div#main-logo>p{
    font-size: 0.6rem;
    padding: 0 ;
}
div#main-logo::after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    border-radius: 15px;
    /* width: 100%; */
    height: 2rem;
    background-color: gray;
    z-index: -1;
    padding: 1rem;
    transform: scaleX(0);
    transition: all 0.5s ease-in-out;
}
div#main-logo:hover{
    color: white;
    border: white;
}
div#main-logo:hover::after{
    transform: scaleX(1);
}


input#hamburger-checked{
    width: 3rem;
    height: 3rem;
    opacity: 0;
}
label#hamburgers{
    position: relative;
    width: 3rem;
    height: 3rem;
    background-color: gray;
    border-radius: 50%;
    transition: all 0.5s ease-in;
}
label#hamburgers>div{
    position: absolute;
    left: 10%;
}
label#hamburgers>:first-child{
    top: 25%;
}
label#hamburgers>:nth-child(2){
    top: 45%;
}
label#hamburgers>:nth-child(3){
    top: 65%;
}
label#hamburgers>:nth-child(4){
    top: 30%;
    left: 110%;
}

.hamburger-line{
    width: 80%;
    height: 2px;
    background-color: white;
    border-radius: 12px;
}

label#hamburgers>div::before{
    position: absolute;
    left: 7%;
    top: 30%;
    padding: 1rem;
    width: 80%;
    height: 2px;
    background-color: white;
    border-radius: 12px;
}



input#hamburger-checked:checked:hover  ~ label#hamburgers{
        transform:rotate(720deg);
}

input#hamburger-checked:checked ~ label#hamburgers>:first-child{
    top: 50%;
    transform: rotate(45deg);
}
input#hamburger-checked:checked ~ label#hamburgers>:nth-child(2){
    opacity: 0;
}
input#hamburger-checked:checked ~ label#hamburgers>:nth-child(3){
    top: 50%;
    transform: rotate(-45deg);
}
input#hamburger-checked:checked ~ label#hamburgers>:nth-child(4){
    opacity: 0;
}
input#hamburger-checked:checked~ nav#nav-menu{
    transform: translateX(0);
}


@media screen and (min-width: 800px){
    header#nav{
        top: 0;
        max-width: 2400px;
        left: 0;

    }
    nav#nav-menu{
        transform: translateX(0);
        height: 70px;
        width: 100%;
        margin: 0 auto;
        padding: 0;
        flex-direction: row-reverse;
        align-items: center;
    }
    nav#nav-menu>div{
        flex-grow: 2;
    }
    nav#nav-menu>a{
        max-width: 150px;
        justify-content: center;
    }



    input#hamburger-checked,
    label#hamburgers{
       display: none;
    }
    div#main-logo{
        width: 200px;
        margin-top: 0;
    }


}

